<!-- index.ejs -->
<html>

<head>
    <% include ./partials/header.ejs %>
    <link rel='stylesheet' type="text/css" href='/css/home.css'>
    <script type="text/javascript" src="/js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    
</head>

<body>
    <div class='home-container'>
            <% include ./partials/navbar.ejs %>
            <% include ./partials/upload.ejs %>
        
        
            <div class="grid">
                <% let i = 0; %>
                <% posts.reverse().forEach(p => { %>
                    <div class='show-single-recipe<%=i%> recipe-hover recipe-hidden'>
                        <% include ./partials/recipe-partial.ejs %>
                    </div>
                    <div class="foodcontent">
                        <img src="/image/<%=p.image.data%>" alt="Avatar" class="image" />
                        <div class="middle" onclick="show(<%=i%>);">
                            <div class='middle-content'>
                                <h4><%= p.name %></h4>
                                <%= p.body %>
                            </div>
                        </div>
                    </div>
                    <% i++; %>
                <% }); %>
            </div>
        

        <div id='home-padding'></div>

        <% include ./partials/footer.ejs %>
    </div>
</body>

</html>