<!-- profile.ejs -->

<!-- Creates the webpage for the profile for users of our webpage. 
    Within the profile is are all the recipe the user uploaded and the recipe favorite by the user -->

<html>
    <head>
        <% include ./partials/header.ejs %>
        <link rel='stylesheet' type="text/css" href='/css/profile.css'>
        <script type="text/javascript" src='/js/profile.js'></script>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        <% include ./partials/upload.ejs %>
        <div class='main'>
            <div class='profile'>
                <img src='/pics/user.png' class='img-fluid'>
                <h2 class='profile-name'><%=user%></h2>
            </div>

            <div class="col-md-7 ml-auto mr-auto">
                <div class='profile-tabs'>
                    <ul class="nav justify-content-center">
                        <li class='nav-item active single' id='mine'>
                            <a class='nav-link profile-single'>
                                <img class='profile-single-icon' src='/pics/food.png'/>
                                <p class='profile-single-text'>UPLOADS</p>
                            </a>
                        </li>
                        <li class='nav-item single' id='favorites'>
                            <a class='nav-link profile-single'>
                                <img class='profile-single-icon' src='/pics/favorites.png'/>
                                <p class='profile-single-text'>FAVORITES</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class='col-md-7 ml-auto mr-auto profile-section'>
                <div class='profile-saved' id='scrollbar' style='display: none'>
                    <% let i = 0; %>
                    <% saved.forEach( (p) => { %>
                        <div class='show-single-recipe<%=i%> recipe-hover recipe-hidden'>
                                <% include ./partials/recipe-page.ejs %>
                            </div>
                        <img class='profile-recipe-image' src="/image/<%=p.image.data%>" onclick='show(<%=i%>)'/>
                        <% i++; %>
                    <% }); %>
                </div>
                <div class='profile-recipe' id='scrollbar'>
                    <% recipes.forEach( (p) => { %>
                        <div class='show-single-recipe<%=i%> recipe-hover recipe-hidden'>
                                <% include ./partials/recipe-page.ejs %>
                            </div>
                        <img class='profile-recipe-image' src="/image/<%=p.image.data%>" onclick='show(<%=i%>)'/>
                        <% i++; %>
                    <% }); %>
                </div>
            </div>
        </div> 
        <% include ./partials/footer.ejs %>
    </body>
</html>