<div class='post-container'>
        <div class='post'>
            <div class='post-left'>
                <div class='image-container'>
                    <img class='post-image' src="/image/<%=p.image.data%>" id='recipe-pic'/>
                </div>
            </div>
            <div class='post-right'>
                <img class='post-user-pic' src='/pics/user.png'>
                <h3 class=post-name><%= p.name %></h3>
                <div class='post-body'>
                    <p><%= p.body %></p>
                </div>
                <div class='post-buttons'>
                    <div class='post-button-entry'>
                            <button class='post-btn btn btn-light' type='submit'>&#9825;</button>
                    </div>
                    <div class='post-button-entry'>
                            <button class='post-btn btn btn-light' type='submit'>Share</button>
                    </div>
                    <div class='post-button-entry'>
                        <form action='/<%= p._id %>/save' method="POST">
                            <button class='post-btn btn btn-light' type='submit'>Save</button>
                        </form>
                    </div>
            </div>
            <hr>
                <div class='post-comments'>
                    <% if (p.comments.length === 0) { %>
                        <p style='text-align: center; color: rgb(88, 88, 88)'>No comments.</p>
                    <% } %>
                    <% p.comments.forEach( (comment) => { %>
                        <div class='comment-single'>
                            <img class='comment-user-pic' src='/pics/user.png'/>
                            <a class='comment-body'><%=comment.body%></a>
                        </div>
                    <%}); %>
                </div>
                <div class='comment-form'>
                    <form action="/<%= p._id %>/comment" method="POST">
                        <textarea class="post-comment" id="comment" name="comment" type="text" placeholder="Enter a comment"></textarea>
                        <button class="comment-button">Reply</button>
                    </form>
                </div>
          </div>
    </div>
  </div>